<!doctype html>
<html lang="en">

<head>
    <title> H E Y T E A喜茶</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script>
    </script>
</head>
<!--  -->

<body background="bg1.jpg" style="background-size: 100%;" class="font-weight-bold">

<div id="app">

    <div class="card " style=" width:550px; height:380px; margin: auto ;background-color: rgba(255, 255, 255, 0.35)">
        <div class="card-body">
            <h5 class="card-title">用户名:</h5>
            <div class="form-group">
                <input v-model="idcard" class="form-control" aria-describedby="helpId" placeholder="请输入会员姓名">
            </div>
            <hr>
            <h5 class="card-title">密码：</h5>
            <div class="form-group">
                <input v-model="uname" type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="请输入会员卡号">
            </div>
            <hr>
            <button @click="login()" type="button" class="btn btn-success btn-block mt-4">登陆</button>
            <button @click="register()" type="button" class="btn btn-success btn-block mt-4">注册</button>

        </div>
    </div>


</div>

<script>
    new Vue({
        el:"#app",
        data:{
            "uname":"",
            "idcard":"",
            "res":null
        },
        methods:{
            login: function () {
                if(this.uname.trim() == '' || this.idcard.trim() == ''){
                    alert("用户名或者密码不能为空");
                    return;
                }
                axios.post("/loing",{
                    "name":this.uname,
                    "idcard":this.idcard
                })
                    .then((response) => {
                    if(response.data.code == 200){
                        alert("登陆成功")
                        location.href = "/index";
                    }else{
                        alert("用户名或密码错误");
                }

                }).catch((error) => {
                        console.log(error);
                })
            },
            register: function () {
                if(this.uname.trim() == '' || this.idcard.trim() == ''){
                    alert("用户名或者密码不能为空");
                    return;
                }
                axios.post("/register",{
                    "name":this.uname,
                    "idcard":this.idcard
                })
                    .then((response) => {
                    if(response.data.code == 200){
                    alert(response.data.msg)
                }else{
                    alert(response.data.msg);
                }

            }).catch((error) => {
                    console.log(error);
            })
            }

        }

    })
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>